<div class="toast-wrapper" id="toast-wrapper">
	<div class="main">是否确定？</div>
	<div class="btns">
		<div class="btn-yes btn">
			<div id="btn-confirm" class="btn-red-round">确定</div>
		</div>

		<div class="btn-no btn">
			<div id="btn-cancel" class="btn-red-round">取消</div>
		</div>
	</div>
</div>


<div class="select-wrapper" id="select-wrapper">
	<!--<div class="item txt-small">选项</div>-->
</div>

<div class="loading-wrapper" id="loading-wrapper">
	<div class="loader loader--style6" title="5">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
		<rect x="0" y="13" width="4" height="5" fill="#333">
		  <animate attributeName="height" attributeType="XML"
			values="5;21;5"
			begin="0s" dur="0.6s" repeatCount="indefinite" />
		  <animate attributeName="y" attributeType="XML"
			values="13; 5; 13"
			begin="0s" dur="0.6s" repeatCount="indefinite" />
		</rect>
		<rect x="10" y="13" width="4" height="5" fill="#333">
		  <animate attributeName="height" attributeType="XML"
			values="5;21;5"
			begin="0.15s" dur="0.6s" repeatCount="indefinite" />
		  <animate attributeName="y" attributeType="XML"
			values="13; 5; 13"
			begin="0.15s" dur="0.6s" repeatCount="indefinite" />
		</rect>
		<rect x="20" y="13" width="4" height="5" fill="#333">
		  <animate attributeName="height" attributeType="XML"
			values="5;21;5"
			begin="0.3s" dur="0.6s" repeatCount="indefinite" />
		  <animate attributeName="y" attributeType="XML"
			values="13; 5; 13"
			begin="0.3s" dur="0.6s" repeatCount="indefinite" />
		</rect>
	  </svg>
	</div>
</div>

<div class="dark-pop" id="dark-pop">
	<div class="dialog">
		<div class="icon_dagou"></div>
		<div class="text"></div>
	</div>
</div>

<div class="sign-pop" id='sign-pop'>  <!--签约完成-->
	<div class="main">
		<div class="sign_top">
			<div class="icon_dagou"></div>
		</div>
		<div class="text">签约完成</div>
	</div>
	<div class="btn">OK</div>
</div>
<script src="js/lib/jquery-3.1.0.min.js"></script>
<script src="js/custom.min.js"></script>





























